<!DOCTYPE html>
<html lang="en">
<body class="container">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bg-light"><h1>Login</h1></div>
                    <div class="row">
                        <h3>Inicie Sesion <a href="/login" class="btn btn-primary">Inicio</a></h3>
                    </div>
                    <div class="row">
                        <h3>O</h3>
                    </div>
                    <div class="row">
                        <h3>Registrese <a href="/signup" class="btn btn-primary">Registro</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>


<!-- <form action="/login">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
    </div>
</form>

OR

<form action="/signup">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Sign Up">
    </div>
</form> -->