<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
    </header>
    <main>
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="bg-light"><h1>Formulario de Registro de Usuarios</h1></div>
                <form action="/signup" method="post">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                        <input type="email" class="form-control" name="username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
                        <input type="password" class="form-control" name="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                        <input type="text" class="form-control" name="nombre" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                        <input type="text" class="form-control" name="apellido" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Administrador</span>
                        <select class="form-select" name="isadmin" aria-label="Default select example">
                            <option value="false" selected>No</option>
                            <option value="true">Si</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                <a href="/login" class="btn btn-danger">Iniciar Sesion</a>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>